<style>    

    ::-moz-focus-inner { 
        padding: 0;
        border: 0;
    }
    .copied::after {
        position: absolute;
        top: 50%;
        display: block;
        content: "copied";
        font-size: 0.75em;
        padding: 2px 3px;
        color: #fff;
        background-color: #4cd964;
        border-radius: 3px;
        opacity: 0;
        will-change: opacity, transform;
        animation: showcopied 1.5s ease;
    }

    @keyframes showcopied {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        70% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
        }
    }
    .dealer-ticker{
        height:54px;
    }
    .dealer-borders{
        padding:7px;
    }
    
    .no-m th:last-child {
    min-width: 100px;
}
</style>



<div class="section-header col-md-6">
    <h1 class="h3 section-text">Dealer</h1>
</div>

<div class="wrapper" data-ng-controller="DealerController">
    <div class="wrapper-padding row dealer-ticker">
        <div class="col-sm-4">
            <div class="panel panel-default relative dealer-borders">
                <div class="m-b-10 {{selectedFilter=='all'?'text-muted':''}}" ng-click="isAllDealer('1'); selectedFilter = 'all'">
                    <i class="text-danger fa fa-circle"></i> 
                    <a href="">All</a>
                    <span class="pull-right" style="color: #86c0ba"><a href="">{{active + inActive}}</a></span>                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default relative dealer-borders">
                <div class="m-b-10 {{selectedFilter=='active'?'text-muted':''}}" ng-click="isActive('1', 'Active'); selectedFilter = 'active'">
                    <i class="text-success fa fa-circle"></i>
                    <a href="">Active</a>
                    <span class="pull-right" style="color: #86c0ba"><a href="">{{active}}</a></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default relative dealer-borders">
                <div class="m-b-10 {{selectedFilter=='inActive'?'text-muted':''}}" ng-click="isActive('1', 'inActive'); selectedFilter = 'inActive'">
                    <i class="text-danger fa fa-circle"></i> 
                    <a href="">InActive</a>
                    <span class="pull-right" style="color: #86c0ba"><a href="">{{inActive}}</a></span>                    
                </div>
            </div>
        </div>
        <!--        <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Search..." data-ng-model="search" style="height: 46px">
                </div>-->
    </div>
    <div class="panel panel-default panel-no-border">
        <div class="panel-body no-p">
            <div ng-hide="dealerData" class="table-container table-responsive">
                <table st-table="dealer" class="table table-striped no-m" ng-hide="dealerEmptyMessage">
                    <thead>
                        <tr>
                            <th ng-click="changeSorting('dealerName'); sortType = 'dealerName'; sortReverse = !sortReverse" >
                                Dealer Name
                                <span ng-show="sortType == 'dealerName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'dealerName' && sortReverse" class="fa fa-caret-up"></span>

                            </th>

                            <th ng-click="changeSorting('website'); sortType = 'website'; sortReverse = !sortReverse">
                                Website
                                <span ng-show="sortType == 'website' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'website' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th ng-click="changeSorting('accountManagerEmail'); sortType = 'accountManagerEmail'; sortReverse = !sortReverse">
                                Email
                                <span ng-show="sortType == 'accountManagerEmail' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'accountManagerEmail' && sortReverse" class="fa fa-caret-up"></span>

                            </th>

                            <th ng-click="changeSorting('lastSiteVisit'); sortType = 'lastSiteVisit'; sortReverse = !sortReverse">
                                Last Site Visit
                                <span ng-show="sortType == 'lastSiteVisit' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'lastSiteVisit' && sortReverse" class="fa fa-caret-up"></span>

                            </th>
                            <th ng-click="changeSorting('status'); sortType = 'status'; sortReverse = !sortReverse">
                                Status
                                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th>                                
                            </th>
                        </tr>
                    </thead>                    
                    <tbody>

                        <!--                        <tr dir-paginate="dealer in dealers|orderBy: sort.column:sort.descending |orderBy:sortType:sortReverse| filter: search:startsWith | itemsPerPage: count" total-items="total_count" >-->
                        <tr ng-repeat="dealer in dealers|orderBy:sortType:sortReverse| filter: search:startsWith">       
                            <td>{{dealer.dealerName}}</td>
                            <td ns-popover
                                ns-popover-template="websiteUrl"
                                ns-popover-trigger="mouseenter"
                                ns-popover-timeout="0"
                                ns-popover-placement="top"
                                ns-popover-theme="ns-popover-tooltip-theme">
                                {{dealer.website| limitTo: 30}}{{dealer.website.length < 30 ? " ":"..."}}
                            </td>
                            <td>{{dealer.accountManagerEmail}}</td>
                            <td>{{dealer.lastSiteVisit| date: "yyyy/MM/dd hh:mm:ss"}}</td>
                            <td>
                                <i class="fa" data-ng-class="{'text-danger':(dealer.status == 'InActive'), 'text-success':(dealer.status == 'Active'), 'fa-times':(dealer.status == 'InActive'), 'fa-check':(dealer.status == 'Active')}"></i>
                            </td>
                            <td style="width:10%">
                                <div class="btn-group pull-right" role="group">
                                    <button class="btn btn-xs btn-code" data-toggle="modal" data-target="#viewCode{{dealer.id}}"> Code</button>
                                    <button class="btn btn-xs btn-view" data-toggle="modal" data-target="#viewProfile{{dealer.id}}"> View</button>
                                </div>
                                <div class="modal fade" id="viewCode{{dealer.id}}" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-grey-lt-lt b-rad-r-l-6">
                                                <h5 class="pull-left">Copy this code and paste in dealer site</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <span class="col-sm-6">
                                                            Dealer Name : <label><i>{{dealer.dealerName}}</i></label>
                                                        </span>
                                                        <span class="col-sm-6 text-right">
                                                            Website : <label><i>{{dealer.website}}</i></label>
                                                        </span>                                                                                                       
                                                    </div>
                                                    <div>

                                                        <textarea class="form-control text-style" id="copyText{{dealer.id}}" style="height: 370px;" readonly="true">
<script src="{{getUrl(dealer)}}/fingerprint2.js"></script>
<script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
        var u = "{{getUrl(dealer)}}";
        _paq.push(['setTrackerUrl', u + '/admin/wa']);
        _paq.push(['setSiteId', '{{dealer.id}}']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + '/wa.js';
        s.parentNode.insertBefore(g, s);
        })();
</script>
                                                        </textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-sm" ng-click="copyScript(dealer)"><i class="fa fa-clipboard"></i> Copy</button>
                                                <button class="btn btn-warning btn-sm" data-dismiss="modal"><i class="fa fa-remove"></i> Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="viewProfile{{dealer.id}}" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-grey-lt-lt b-rad-r-l-6">
                                                <h5 class="pull-left">Dealer Profile</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <!--                                                <div class="modal-body modal-scroll">-->
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group" ng-if="dealer.dealerName">
                                                        <label class="control-label col-xs-2">Name</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.dealerName}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.email">
                                                        <label for="inputEmail" class="control-label col-xs-2">Email</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.email}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.website">
                                                        <label for="inputEmail" class="control-label col-xs-2">Website</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.website}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.dealerAddress">
                                                        <label for="inputEmail" class="control-label col-xs-2">Address</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.dealerAddress}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.dealerCity">
                                                        <label for="inputEmail" class="control-label col-xs-2">City</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.dealerCity}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.dealerState">
                                                        <label for="inputEmail" class="control-label col-xs-2">State</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.dealerState}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.createdTime">
                                                        <label for="inputEmail" class="control-label col-xs-2">Created Time</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.createdTime| date: MM/dd/yyyy}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.dealerRefId">
                                                        <label for="inputEmail" class="control-label col-xs-2">Reference Id</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.dealerRefId}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.communicationEmail">
                                                        <label for="inputEmail" class="control-label col-xs-2">Communication Email</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.communicationEmail}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.firstContractTime">
                                                        <label for="inputEmail" class="control-label col-xs-2">First Contract Time</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.firstContractTime| date:"MM/dd/yyyy HH:mm:ss"}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.oemName">
                                                        <label for="inputEmail" class="control-label col-xs-2">OEM Name</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.oemName}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.lastSiteVisit">
                                                        <label for="inputEmail" class="control-label col-xs-2">Last visit</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.lastSiteVisit| date: MM/dd/yyyy}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.status">
                                                        <label for="inputEmail" class="control-label col-xs-2">Status</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.status}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.activeClientsProductName">
                                                        <label for="inputEmail" class="control-label col-xs-2">Active Clients Product Name</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.activeClientsProductName}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.campaignLaunchDate">
                                                        <label for="inputEmail" class="control-label col-xs-2">Campaign Launch Date</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.campaignLaunchDate}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.digitalAdvisor">
                                                        <label for="inputEmail" class="control-label col-xs-2">Digital Advisor</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.digitalAdvisor}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.phone">
                                                        <label for="inputEmail" class="control-label col-xs-2">Phone</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.phone}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.segmentName">
                                                        <label for="inputEmail" class="control-label col-xs-2">Segment Name</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.segmentName}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.timezoneName">
                                                        <label for="inputEmail" class="control-label col-xs-2">Time Zone</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.timezoneName}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-if="dealer.budget">
                                                        <label for="inputEmail" class="control-label col-xs-2">Budget</label>
                                                        <div class="col-xs-10">
                                                            <p class="form-control-static">{{dealer.budget}}</p>
                                                        </div>
                                                    </div>
                                                </div>                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                    <script type="text/ng-template" id="websiteUrl">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip">
                        Website Url : {{dealer.website}}
                        </div>
                    </script>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="dealerEmptyMessage" style="margin-top: 10px;padding: 10px;">
                    <button type="button" class="btn btn-block btn-warning btn-flat">{{dealerErrorMessage}}</button>
                </div>
                <!--                <div>
                                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/reports/pagination.tpl.html"></dir-pagination-controls>
                                </div>-->
            </div>
            <div ng-show="dealerData" class="text-center">
                <img src="img/logos/loading.gif" alt="Dealer"/>
            </div>
        </div>
    </div>
</div>
