<div class="section-header">
    <h1 class="h3 section-text">SETTINGS</h1>
</div>
<div class="bg-white clearfix">

    <div class="col-sm-12 col-xs-12 col-lg-12">
        <input type="text" class="form-control no-border no-bg no-shadow" placeholder="Search..." data-ng-model="search">
    </div>
</div>
<div ng-controller="SettingsController" class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body no-p">
                    <div class="table-container">
                        <table st-table="settings" class="table table-striped no-m">
                            <thead>
                                <tr>
                                    <th style="width: 50%;">Properties</th>
                                    <th style="width: 50%;">Values</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="setting in settings| filter:search">
                                    <td>{{setting.property}}</td>
                                    <td>
                                        <div ng-click="showEdit = true" ng-hide="showEdit" style="cursor: pointer;">
                                           <span ng-if="setting.value"> {{setting.value}}</span>
                                           <span ng-hide="setting.value" class="text-muted">value</span>
                                        </div>
                                        <div ng-show="showEdit">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="setting.value">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" ng-click="save(setting);
                                                                                showEdit = false" title="save"><i class="fa fa-save"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
