<div data-ng-controller="DashboardCtrl" class="wrapper wrapper-padding">
    <div class="row row-padding">
        <div class="col-sm-2">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle" style="color: #86c0ba"></i> 
                    Visits
                </div>
                <div>
                    <span class="text-lg" style="color: #86c0ba">{{totalVisits}}</span>
                    <span class="label {{0 < (totalVisits - yesterdayVisits) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                        {{totalVisits - yesterdayVisits}}
                    </span>
                    <span class="pull-right"></span>
                </div>                                
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle" style="color: #ADBD60"></i> 
                    Site Visits
                </div>
                <div>
                    <span class="text-lg" style="color: #ADBD60">{{totalSiteVisit}}</span>
                    <span class="label {{0 < (totalSiteVisit - yesterdaySiteVisit) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                        {{totalSiteVisit - yesterdaySiteVisit}}
                    </span>
                    <span class="pull-right"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle text-info"></i> 
                    Unique Visits
                </div>
                <div>
                    <span class="text-info text-lg">{{uniqueSiteVisit}}</span>
                    <span class="label {{0 < (uniqueSiteVisit - yesterdayUniqueSiteVisit) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                        {{uniqueSiteVisit - yesterdayUniqueSiteVisit}}
                    </span>
                    <span class="pull-right"></span>
                </div> 
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle text-danger"></i> 
                    Referrer Sites
                </div>
                <div>
                    <span class="text-danger text-lg">{{referrerDomains}}</span>
                    <span class="label {{0 < (referrerDomains - yesterdayReferrerDomains) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                        {{referrerDomains - yesterdayReferrerDomains}}
                    </span>
                    <span class="pull-right"></span>
                </div> 
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle" style="color:#DB9090;"></i> 
                    User Visits
                </div>
                <div>
                    <span class="text-lg" style="color:#DB9090;">{{uniqueUserCount}}</span>
                    <span class="label {{0 < (uniqueUserCount - yesterdayUniqueUserCount) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                        {{uniqueUserCount - yesterdayUniqueUserCount}}
                    </span>
                    <span class="pull-right"></span>
                </div> 
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle text-warning"></i> 
                    Conversions
                </div>
                <div>
                    <span class="text-warning text-lg">{{formFilled}}</span>
                    <span class="label {{0 < (formFilled - yesterdayFormFilled) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                        {{formFilled - yesterdayFormFilled}}
                    </span>
                    <span class="pull-right"></span>
                </div> 
            </div>
        </div>
    </div>

    <div class="row row-padding">
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-desktop"></i> Device Type (last 24 hours)
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Visits</th>
                                <th>Visits(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in devices" ng-hide="deviceEmptyMessage">
                                <td>{{device.deviceType}}</td>
                                <td>{{device.visitCount}}</td>
                                <td>{{device.visitPercent| setDecimal: 2}} <span ng-if="device.visitPercent">%</span></td>
                            </tr>
                            <tr ng-show="deviceEmptyMessage">
                                <td>
                                    <button type="button" class="btn btn-block btn-warning btn-flat">{{deviceErrorMessage}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> Visits By Dealer (top 5 dealers)
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover">
                        <thead>
                            <tr>
                                <th>Dealer Name</th>
                                <th>Page</th>
                                <th>Site</th>
                                <th>Users</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dealer in dealers| orderBy: '-uniqueUserCount'" ng-hide="dealerEmptyMessage">
                                <td ns-popover
                                    ns-popover-template="dealerNameToolTip"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-theme="ns-popover-tooltip-theme"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top">
                                    {{dealer.dealerName| limitTo: 16}}{{dealer.dealerName.length<16? "":"..."}}
                                </td>
                                <td>{{dealer.totalPageVisit}}</td>
                                <td>{{dealer.totalSiteVisit}}</td>
                                <td>{{dealer.uniqueUserCount}}</td>

                        <script type="text/ng-template" id="dealerNameToolTip">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                            Dealer Name : {{dealer.dealerName}}
                            </div>
                        </script> 
                        </tr>
                        <tr ng-show="dealerEmptyMessage">
                            <td>
                                <button type="button" class="btn btn-block btn-warning btn-flat">{{dealerErrorMessage}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-map-marker"></i> Location (top 5 location)
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover">
                        <thead>
                            <tr>
                                <!--<th>Country</th>-->
                                <th>City</th>
                                <th>Visits</th>
                                <th>Visits(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="location in locations| orderBy: '-visitCount'" ng-hide="locationEmptyMessage">
                                <!--<td>{{location.country}}</td>-->
                                <td>{{location.city}}</td>
                                <td>{{location.visitCount}}</td>
                                <td>{{location.visitPercent| setDecimal: 2}}  <span ng-if="location.visitPercent">%</span></td>
                            </tr>
                            <tr ng-show="locationEmptyMessage">
                                <td>
                                    <button type="button" class="btn btn-block btn-warning btn-flat">{{locationErrorMessage}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-padding">
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-calendar-o"></i> Daily Visits
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover">
                        <thead>
                            <tr>
                                <!--                                <th>Month</th>-->
                                <th>Date</th>
                                <!--<th>Year</th>-->
                                <th>Counts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dailyForMonth in dailyForMonths" ng-hide="dailyForMonthEmptyMessage">
                                <!--<td>{{dailyForMonth.month | monthName}}</td>-->
                                <td>{{dailyForMonth.visitDate}}</td>
                                <!--<td>{{dailyForMonth.year}}</td>-->
                                <td>{{dailyForMonth.visitCount}}</td>
                            </tr>
                            <tr ng-show="dailyForMonthEmptyMessage">
                                <td>
                                    <button type="button" class="btn btn-block btn-warning btn-flat">{{dailyForMonthErrorMessage}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-hand-o-right"></i> Referrer (top 5)
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <div class="row no-m">
                        <div class="no-p">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Referrer</th>
                                        <th>Count</th>
                                        <th>User Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="referrer in referrers" ng-hide="referrerEmptyMessage">
                                        <td ns-popover
                                            ns-popover-template="referrerUrlToolTip"
                                            ns-popover-trigger="mouseenter"
                                            ns-popover-theme="ns-popover-tooltip-theme"
                                            ns-popover-timeout="0"
                                            ns-popover-placement="top">
                                            {{referrer.referrer| limitTo: 16}}{{referrer.referrer.length<0? "":"..."}}
                                        </td>
                                        <td>{{referrer.visitCount}}</td>
                                        <td>{{referrer.uniqueUserCount}}</td>
                                        
                                        <script type="text/ng-template" id="referrerUrlToolTip">
                                            <div class="triangle"></div>
                                            <div class="ns-popover-tooltip">
                                            Referrer : {{referrer.referrer}}"
                                            </div>
                                        </script> 
                                    </tr>
                                    <tr ng-show="referrerEmptyMessage">
                                        <td>
                                            <button type="button" class="btn btn-block btn-warning btn-flat">{{referrerErrorMessage}}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-apple"></i> OS
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <div class="row no-m">
                        <div class="no-p">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>OS</th>
                                        <th>Visit Count</th>
                                        <th>User Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="os in byOs| orderBy: '-uniqueUserCount'" ng-hide="osEmptyMessage">
                                        <td>{{os.os}}</td>
                                        <td>{{os.visitCount}}</td>
                                        <td>{{os.uniqueUserCount}}</td>
                                    </tr>
                                    <tr ng-show="osEmptyMessage">
                                        <td>
                                            <button type="button" class="btn btn-block btn-warning btn-flat">{{osErrorMessage}}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="row row-padding">        
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-calendar"></i> Monthly Visits (last 3 months)
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Year</th>
                                <th>Visit Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="month in months| orderBy: '-month'" ng-hide="monthEmptyMessage">
                                <td>{{month.month| monthName}}</td>
                                <td>{{month.year}}</td>
                                <td>{{month.visitCount}}</td>
                            </tr>
                            <tr ng-show="monthEmptyMessage">
                                <td>
                                    <button type="button" class="btn btn-block btn-warning btn-flat">{{monthErrorMessage}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-line-chart"></i> By Hourly Visits
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <div style="height:219px;">
                        <flot dataset="flotData.data" options="flotData.options"></flot>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-padding">        
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-globe"></i> Browser
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Browser</th>
                                <th>Visits</th>
                                <th>Unique Visits</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="browser in browsers" ng-hide="browserEmptyMessage">
                                <td>{{browser.browser}}</td>
                                <td>{{browser.visitCount}}</td>
                                <td>{{browser.uniqueUserCount}}</td>
                            </tr>
                            <tr ng-show="browserEmptyMessage">
                                <td>
                                    <button type="button" class="btn btn-block btn-warning btn-flat">{{browserErrorMessage}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-barcode"></i> Frequency
                    <!--<div data-app-panel data-panel-refresh="$root.getDummyPromise()"></div>-->
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Dealer Name</th>
                                <th>Total Times</th>
                                <th>Visits</th>
                                <!--<th>Total Times</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="frequency in frequencies| orderBy: '-noOfVisits'" ng-hide="frequencyEmptyMessage">
                                <td>{{frequency.dealerName}}</td>
                                <td>{{frequency.totalTimes}}</td>
                                <td>{{frequency.noOfVisits}}</td>
                                <!--<td>{{frequency.totalTimes}}</td>-->
                            </tr>
                            <tr ng-show="frequencyEmptyMessage">
                                <td>
                                    <button type="button" class="btn btn-block btn-warning btn-flat">{{frequencyErrorMessage}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
