<section data-ng-controller="DashboardCtrl" class="content"> 
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a ui-sref="app.dashboard.v1.summary({searchId: path, startDate: startDate, endDate: endDate})" data-toggle="tab" ui-sref-opts="{reload: true}" style="padding:3px 15px;display: inline-block;">
                                Summary
                            </a>
                        </li>
                        <li class="">
                            <a ui-sref="app.dashboard.v1.media({searchId: path, startDate: startDate, endDate: endDate})" data-toggle="tab" ui-sref-opts="{reload: true}" style="padding:3px 15px;display: inline-block;">
                                Media
                            </a>
                        </li>
                        <li class="">
                            <a ui-sref="app.dashboard.v1.url({searchId: path, startDate: startDate, endDate: endDate})" data-toggle="tab" ui-sref-opts="{reload: true}" style="padding:3px 15px;display: inline-block;">
                                URL
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="panel-body">
                    <div class="tab-content">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

