<div class="tab-pane fade in active" ng-controller="MediaController">
    <div class="row row-padding pnl-space">
        <div class="col-sm-6">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-hand-o-right"></i> First Referrer
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover" ng-hide="dashboardMediaReferrer">
                        <thead>
                            <tr>
                                <th>Domain Name</th>
                                <th>Referrer Type</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="firstReferrer in firstReferrers| orderBy:'-count'" ng-hide="firstReferrerEmptyMessage">
                                <td ns-popover
                                    ns-popover-template="firstReferrerDomainName"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top"
                                    ns-popover-theme="ns-popover-tooltip-theme">
                                    {{firstReferrer.referrer.domainName| limitTo: 12}}{{firstReferrer.referrer.domainName.length < 12 ? "":"..."}}
                                </td>
                                <td ns-popover
                                    ns-popover-template="firstReferrerType"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top"
                                    ns-popover-theme="ns-popover-tooltip-theme">
                                    {{firstReferrer.referrer.referrerType| limitTo: 12}}{{firstReferrer.referrer.referrerType.length < 12 ? "":"..."}}
                                </td>                               
                                <td>{{firstReferrer.count}}</td>  
                        <script type="text/ng-template" id="firstReferrerDomainName">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                            Domain Name : {{firstReferrer.referrer.domainName}}
                            </div>
                        </script>
                        <script type="text/ng-template" id="firstReferrerType">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                            Referrer : {{firstReferrer.referrer.referrerType}}
                            </div>
                        </script>
                        </tr>
                        <tr ng-show="firstReferrerEmptyMessage">
                            <td>
                                <button type="button" class="btn btn-block btn-warning btn-flat">{{firstReferrerErrorMessage}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="dashboardMediaReferrer" class="text-center">
                        <img src="img/logos/loading.gif" alt="MediaReport"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-hand-o-left"></i> Last Referrer
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover" ng-hide="dashboardMediaReferrer">
                        <thead>
                            <tr>
                                <th>Domain Name</th>
                                <th>Referrer Type</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lastReferrer in lastReferrers| orderBy:'-count'" ng-hide="lastReferrerEmptyMessage">                         
                                <td ns-popover
                                    ns-popover-template="lastReferrerDomainName"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top"
                                    ns-popover-theme="ns-popover-tooltip-theme">
                                    {{lastReferrer.referrer.domainName| limitTo: 12}}{{lastReferrer.referrer.domainName.length < 12 ? "":"..."}}
                                </td>
                                <td ns-popover
                                    ns-popover-template="lastReferrerType"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top"
                                    ns-popover-theme="ns-popover-tooltip-theme">
                                    {{lastReferrer.referrer.referrerType| limitTo: 12}}{{lastReferrer.referrer.referrerType.length < 12 ? "":"..."}}
                                </td>
                                <td>{{lastReferrer.count}}</td>   
                        <script type="text/ng-template" id="lastReferrerDomainName">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                            Referrer Domain : {{lastReferrer.referrer.referrerType}}
                            </div>
                        </script>
                        <script type="text/ng-template" id="lastReferrerType">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                            Referrer : {{lastReferrer.referrer.referrerType}}
                    </div>
                        </script>
                        </tr>
                        <tr ng-show="lastReferrerEmptyMessage">
                            <td>
                                <button type="button" class="btn btn-block btn-warning btn-flat">{{lastReferrerErrorMessage}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                     <div ng-show="dashboardMediaReferrer" class="text-center">
                        <img src="img/logos/loading.gif" alt="Media Report"/>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row row-padding">
        <div class="col-sm-8">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-plus-square-o"></i> Assists
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <table class="table table-striped table-response table-hover" ng-hide="dashboardMediaAssists">
                        <thead>
                            <tr>
                                <th>Domain Name</th>
                                <th>Referrer Type</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="assist in assistReferrers| orderBy:'-count'" ng-hide="assistReferrerEmptyMessage">
                                <td ns-popover
                                    ns-popover-template="assistDomainName"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top"
                                    ns-popover-theme="ns-popover-tooltip-theme">
                                    {{assist.referrer.domainName| limitTo: 12}}{{assist.referrer.domainName.length < 12 ? "":"..."}}
                                </td>
                                <td ns-popover
                                    ns-popover-template="assistType"
                                    ns-popover-trigger="mouseenter"
                                    ns-popover-timeout="0"
                                    ns-popover-placement="top"
                                    ns-popover-theme="ns-popover-tooltip-theme">
                                    {{assist.referrer.referrerType| limitTo: 12}}{{assist.referrer.referrerType.length < 12 ? "":"..."}}
                                </td>
                                <td>{{assist.count}}</td>
                        <script type="text/ng-template" id="assistDomainName">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        Assist Domain : {{assist.referrer.domainName}}
                    </div>
                        </script>
                        <script type="text/ng-template" id="assistType">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        Referrer : {{assist.referrer.referrerType}}
                    </div>
                        </script>
                        </tr>
                        <tr ng-show="assistReferrerEmptyMessage">
                            <td>
                                <button type="button" class="btn btn-block btn-warning btn-flat">{{assistReferrerErrorMessage}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="dashboardMediaAssists" class="text-center">
                        <img src="img/logos/loading.gif" alt="Media Report"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-thumbs-o-up"></i> Percentage Of Referrers
                </div>
                <div class="panel-body pnl-aln-tab-bo">
                    <div class="panel-body pnl-aln-tab-bo">
                        <div class="box-body chart-responsive">
                            <!--<center style="padding-left: 20%">-->
                            <div ng-hide="dashboardMediaReferrer" id="pieChart"></div>
                    <div ng-show="dashboardMediaReferrer" class="text-center">
                        <img src="img/logos/loading.gif" alt="MediaReport"/>
                    </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    </div>
</div>