<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #bdbdbd;
    }
    .axis text {
        font-family: 'Open Sans regular', 'Open Sans';
        font-size: 13px;
    }
    .bar {
        fill: #74c4c6;
    }
    .bar:hover {
        fill: rgb(26, 106, 115);
    }
    #chartID{
        height: 240px;
        overflow: hidden;
        position: relative;
        text-align: left;
        cursor:default;
        width:100%;
        /*width:100%*/
    }
    #chartID svg{
        /*height: 250px*/
        width: 600px;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: #74C4C6;
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: #74C4C6;
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
</style>

<div class="tab-pane fade in active" ng-controller="SummaryController">
    <div class="row row-padding">
        <div class="col-sm-4">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle" style="color: #86c0ba"></i> 
                    Visits
                    <span class="text-lg pull-right" style="color: #86c0ba">{{totalSiteVisit}}</span>
                </div>
                <!--                <div>
                                    <span class="label {{0 < (totalVisits - yesterdayVisits) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                                        {{totalVisits - yesterdayVisits}}
                                    </span>
                                    <span class="pull-right"></span>
                                </div>                                -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle" style="color:#DB9090;"></i> 
                    Users
                    <span class="text-lg pull-right" style="color:#DB9090;">{{uniqueUserCount}}</span>
                </div>
                <!--                <div>
                                    <span class="label {{0 < (uniqueUserCount - yesterdayUniqueUserCount) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                                        {{uniqueUserCount - yesterdayUniqueUserCount}}
                                    </span>
                                    <span class="pull-right"></span>
                                </div> -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default relative pnl-aln">
                <div class="m-b-10">
                    <i class="fa fa-circle text-warning"></i> 
                    Conversions
                    <span class="text-warning text-lg pull-right">{{formFilled}}</span>
                </div>
                <!--                <div>
                                    <span class="label {{0 < (formFilled - yesterdayFormFilled) ? 'label-success' : 'label-danger'}} pull-right inline m-l-10">
                                        {{formFilled - yesterdayFormFilled}}
                                    </span>
                                    <span class="pull-right"></span>
                                </div> -->
            </div>
        </div>
    </div>
    <div class="row row-padding">
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">          
                    <i class="fa fa-times-circle-o"></i> No.0f Times User Visit
                </div>
                <div class="panel-body pnl-aln-tab-bo chart-responsive">
                    <div id="chartID"></div>
                </div> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-exchange"></i> Conversion Frequency
                </div>
                <div class="panel-body pnl-aln-tab-bo table-container table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>No. Of Times User Visited</th>
                                <th>Avg. Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="conversionFrequency in conversionFrequencies" ng-hide="conversionFrequencyEmptyMessage">
                                <td>{{conversionFrequency.noOfTimes}}</td>
                                <td>{{conversionFrequency.avgDays| setDecimal: 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">          
                    <i class="fa fa-desktop"></i> Device Performance
                </div>
                <div class="panel-body pnl-aln-tab-bo chart-responsive">
                    <div id="pieChart"></div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row row-padding">         
        <div class="col-sm-12">
            <div class="panel panel-default pnl-aln-table">
                <div class="panel-heading">
                    <i class="fa fa-location-arrow"></i> Top City
                </div>
                <div class="panel-body pnl-aln-tab-bo table-container table-responsive">
                    <div class="row no-m">
                        <div class="no-p">
                            <!--<span ng-show="loadingGeoReport"><img src="img/logos/spinner.gif"></span>-->
                            <table class="table table-striped table-hover" ng-hide="dashboardGeoReportLoading">
                                <thead>
                                    <tr>
                                        <th>City</th>
                                        <th>Dealer Name</th>
                                        <th>Visits</th>
                                        <th>User Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="geoCity in geoCities| orderBy:'-visitCount'" ng-hide="geoReportEmptyMessage">
                                        <td>{{geoCity.city}}</td>
                                        <td>{{geoCity.dealerName}}</td>
                                        <td>{{geoCity.visitCount}}</td>
                                        <td>{{geoCity.uniqueUserCount}}</td>
                                    </tr>
                                    <tr ng-show="geoReportEmptyMessage">
                                        <td>
                                            <button type="button" class="btn btn-block btn-warning btn-flat">{{geoReportErrorMessage}}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-show="dashboardGeoReportLoading" class="text-center">
                                <img src="img/logos/loading.gif" alt="Geo Report"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

