 <!--start: App sidebar--> 
<ul class="nav main-nav" data-ng-controller="AppsidebarCtrl" app-navigation>

    <li data-ng-class="{opened:$state.includes('app.dashboard')}">        
        <a angular-ripple ui-sref="app.dashboard.v1.summary({searchId: path?path:'0', startDate: startDate, endDate: endDate})" ui-sref-opts="{reload: true}">
            <i class="fa fa-dashboard"></i> 
            <div>
                <span>{{ 'DASHBOARD' | translate }}</span>
            </div>
        </a>
    </li>

    <li data-ng-class="{opened:$state.includes('app.admin')}">        
        <a angular-ripple ui-sref="app.admin.dealer({searchId: path?path:'0'})" ui-sref-opts="{reload: true}">
            <i class="fa fa-user"></i> 
            <div>
                <span>{{ 'DEALER' | translate }}</span>
            </div>
        </a>
    </li> 
    <li data-ng-class="{opened:$state.includes('app.report')}">  
        <a angular-ripple ui-sref="app.report.reports({searchId: path?path:'0', startDate: startDate, endDate: endDate})" ui-sref-opts="{reload: true}">
            <i class="fa fa-file-o"></i> 
            <div>
                <span >{{ 'REPORTS' | translate }}</span>
            </div>
        </a>        
    </li>
    <li data-ng-class="{opened:$state.includes('app.conversion')}">  
        <a angular-ripple ui-sref="app.conversion.conversion({searchId: path?path:'0', startDate: startDate, endDate: endDate})" ui-sref-opts="{reload: true}">
            <i class="fa fa-exchange"></i> 
            <div>
                <span >{{ 'CONVERSIONS' | translate }}</span>
            </div>
        </a>        
    </li>
</ul>
 <!--end: App sidebar--> 
