<!-- start: App header -->
<div data-ng-controller="AppheaderCtrl">
    <!-- start: Mobile navbar -->
    <div class="navbar-header">

        <!-- start: Mobile navbar left side -->
        <ul class="nav navbar-nav visible-xs mobile-navbar pull-left">
            <li data-ng-click="$root.toggleSideBar()">
                <a>
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li data-ng-click="$root.toggleSearch()">
                <a>
                    <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>

        <!-- start: Logo -->
        <a class="navbar-brand text-center" href="#">
            <img src="img/logos/digital.png" class="normal-logo" style="width:70%;">
            <img src="img/logos/digital.png" class="xs-logo">
            <img src="img/logos/digitalMobileLogo.png" class="folded-logo" style="width:16%;">
        </a>
        <!-- end: Logo -->

    </div>
    <!-- end: Mobile navbar -->

    <!-- start: Collapse navbar -->
    <div class="collapse navbar-collapse" id="appNavbarCollapse">

        <!-- start: Desktop,tablet navbar (hidden in Mobile)-->
        <ul class="nav navbar-nav hidden-xs">
            <li data-ng-click="$root.toggleSideBar()">
                <a angular-ripple>
                    <i class="fa fa-bars"></i>
                </a>
            </li>           
            <li data-ng-click="$root.goFullscreen()">
                <a angular-ripple>
                    <i class="fa" data-ng-class="{'fa-expand':!$root.inFullScreen, 'fa-compress':$root.inFullScreen}"></i>
                </a>
            </li>            
        </ul>

        <!-- end: Desktop,tablet navbar (hidden in Mobile)-->
        <!-- start: Collapse items -->
        <ul class="nav navbar-nav navbar-right pull-right">            
            <li ng-show="userName" uib-dropdown>
                <a class="userData dropdown-toggle" uib-dropdown-toggle angular-ripple>
                    <span class="hidden-phone">
                        {{userName}}
                        <i class="fa fa-angle-down"></i>
                    </span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu no-p no-m dropdown-alt">
                    <li class="m-b-5">
                        <a class="p-r-15 p-l-15" href="../admin/user/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
        <div class="row pull-right  col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <div class="input-group">
                <input type="text" class="form-control" ng-click="openEndDate()" 
                       uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popupEd.opened" 
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
                       placeholder="End Date"/>
                <span class="input-group-btn">
                    <!--<button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <button type="button" class="btn btn-default" 
                            ui-sref="app.dashboard.v1({startDate: (startDate | date: 'MM/dd/yyyy'), endDate: (endDate| date: 'MM/dd/yyyy')})">Go
                    </button>
                </span>
            </div>
        </div>
        <div class="row pull-right  col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <div class="">
                <input type="text" class="form-control" ng-click="openStartDate()" 
                       uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popupSd.opened" 
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
                       placeholder="Start Date"/>
<!--                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
                </span>-->
            </div>
        </div>

        <div class="row pull-right  col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <select class="form-control" ng-model="$stateParams.searchId">
                <option ui-sref="app.dashboard.v1({searchId: 0})" 
                        data-ui-sref-opts="{reload: true}"
                        value="0">All</option>
                <option ng-repeat="searchDealer in searchDealers" 
                        ui-sref="app.dashboard.v1({searchId: searchDealer.siteId?searchDealer.siteId:0})" 
                        data-ui-sref-opts="{reload: true}"
                        value="{{searchDealer.siteId}}">
                    {{searchDealer.dealerName}}
                </option>
            </select>
        </div>        
        <!-- end: Collapse items -->

    </div>
    <!-- end: Collapse navbar -->
</div>
<!-- end: App header -->