<div data-ng-controller="AppheaderCtrl">
    <div class="navbar-header">       
        <a class="navbar-brand text-center" href="#">
            <img src="img/logos/digital.png" class="normal-logo" style="width:70%;">
            <img src="img/logos/digital.png" class="xs-logo">
            <img src="img/logos/digitalMobileLogo.png" class="folded-logo" style="width:16%;">
        </a>

        <ul class="nav navbar-nav visible-xs mobile-navbar">
            <li><p class="input-group"><a class="btn btn-warning" href="../admin/user/logout">Logout</a></p></li>      
            <li data-ng-click="$root.toggleSideBar()">
                <a angular-ripple>
                    <i class="fa fa-bars"></i>
                </a>
            </li>         
        </ul>
    </div>
    <div class="row visible-xs">
        <div class="col-md-6 show-grid">
            <div class="row"> 
                <div class="col-md-6">
                    <div class="mar-top">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectName}}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="searchDealer in searchDealers">
                                    <!--<a ui-sref="app.dashboard.v1.summary({searchId: searchDealer.siteId?searchDealer.siteId:0, startDate: (startDate | date: 'MM/dd/yyyy'), endDate: (endDate| date: 'MM/dd/yyyy')})" ui-sref-opts="{reload: true}" ng-click="change(searchDealer)">-->
                                    <a ng-click="change(searchDealer);
                                        loadNewUrl();">
                                        {{searchDealer.dealerName}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>        
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mar-top">
                        <p class="input-group1">
                            <input id="startDate" type="text" class="form-control" ng-click="openStartDate()" 
                                   uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popupSd.opened" 
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
                                   placeholder="Start Date"/>
                        </p>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="mar-top">
                        <p class="input-group1">
                            <input id="endDate" type="text" class="form-control" ng-click="openEndDate()" 
                                   uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popupEd.opened" 
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placement="left"
                                   placeholder="End Date"/>
                        </p>                        
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mar-top">
                        <p class="input-group">
                            <a type="button" class="btn btn-warning" ng-click="changeDates();
                                loadNewUrl()">Go
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- start: Desktop,tablet navbar (hidden in Mobile)-->
    <div class="collapse navbar-collapse" id="appNavbarCollapse">

        <!-- start: Desktop,tablet navbar (hidden in Mobile)-->
        <ul class="nav navbar-nav hidden-xs">
            <li data-ng-click="$root.toggleSideBar()">
                <a angular-ripple>
                    <i class="fa fa-bars"></i>
                </a>
            </li>           
            <li data-ng-click="$root.goFullscreen()">
                <a angular-ripple>
                    <i class="fa" data-ng-class="{'fa-expand':!$root.inFullScreen, 'fa-compress':$root.inFullScreen}"></i>
                </a>
            </li>            
        </ul>

        <!-- end: Desktop,tablet navbar (hidden in Mobile)-->
        <!-- start: Collapse items -->
        <ul class="nav navbar-nav navbar-right pull-right">            
            <li ng-show="userName" uib-dropdown>
                <a class="userData dropdown-toggle" uib-dropdown-toggle angular-ripple>
                    <span class="hidden-phone">
                        {{userName}}
                        <i class="fa fa-angle-down"></i>
                    </span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu no-p no-m dropdown-alt">
                    <li class="m-b-5">
                        <a class="p-r-15 p-l-15" href="../admin/user/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="row pull-right  col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <div class="input-group">
                <input id="endDate" type="text" class="form-control" ng-click="openEndDate()" 
                       uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popupEd.opened" 
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
                       placeholder="End Date"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-warning" ng-click="changeDates();
                        loadNewUrl()">Go</button>
                </span>
            </div>
        </div>
        <div class="row pull-right  col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <div class="input-group1">
                <input id="startDate" type="text" class="form-control" ng-click="openStartDate()" 
                       uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popupSd.opened" 
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats" 
                       placeholder="Start Date"/>
            </div>
        </div>

        <div class="row pull-right" style="margin-top: 3px; padding-left: 2%;">
            <div class="col-md-3">
                <ui-select ng-model="selectDealer.selected" on-select="change(selectDealer); loadNewUrl()" theme="select2" ng-disabled="disabled" style="width:300px;">
                    <ui-select-match placeholder="Select Dealer...">{{$select.selected.dealerName}}</ui-select-match>
                    <ui-select-choices repeat="dealer in searchDealers | filter: $select.search">
                        <span ng-bind-html="dealer.dealerName | highlight: $select.search"></span>
                        <!--<small ng-bind-html="country.code | highlight: $select.search"></small>-->
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>        
    </div>
</div>