 <!--start: App sidebar--> 
<ul class="nav main-nav" data-ng-controller="AppsidebarCtrl" app-navigation>

    <li data-ng-class="{opened:$state.includes('app.dashboard')}">        
        <a angular-ripple ui-sref="app.dashboard.v1({searchId: path})">
            <i class="fa fa-dashboard"></i> 
            <div>
                <span>{{ 'DASHBOARD' | translate }}</span>
            </div>
        </a>
    </li>

    <li data-ng-class="{opened:$state.includes('app.admin')}">        
        <a angular-ripple ui-sref="app.admin.dealer({searchId: path})">
            <i class="fa fa-user"></i> 
            <div>
                <span>{{ 'DEALER' | translate }}</span>
            </div>
        </a>
    </li> 
    <li data-ng-class="{opened:$state.includes('app.report')}">  
        <a angular-ripple ui-sref="app.report.report({searchId: path})">
            <i class="fa fa-file-o"></i> 
            <div>
                <span >{{ 'REPORTS' | translate }}</span>
            </div>
        </a>        
    </li>
</ul>
 <!--end: App sidebar--> 
