<!-- start: App header -->
<div data-ng-controller="AppheaderCtrl">
    <!-- start: Mobile navbar -->
    <div class="navbar-header">

        <!-- start: Mobile navbar left side -->
        <ul class="nav navbar-nav visible-xs mobile-navbar pull-left">
            <li data-ng-click="$root.toggleSideBar()">
                <a>
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li data-ng-click="$root.toggleSearch()">
                <a>
                    <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>

        <!-- start: Logo -->
        <a class="navbar-brand text-center" href="#">
            <img src="img/logos/digital.png" class="normal-logo" style="width:70%;height:40px;">
            <img src="img/logos/digital.png" class="xs-logo" style="width:70%;height:40px;">
            <img src="img/logos/digitalMobileLogo.png" class="folded-logo" style="height: 95%;">
        </a>
        <!-- end: Logo -->

    </div>
    <!-- end: Mobile navbar -->

    <!-- start: Collapse navbar -->
    <div class="collapse navbar-collapse" id="appNavbarCollapse">

        <!-- start: Desktop,tablet navbar (hidden in Mobile)-->
        <ul class="nav navbar-nav hidden-xs">
            <li data-ng-click="$root.toggleSideBar()">
                <a angular-ripple>
                    <i class="fa fa-bars"></i>
                </a>
            </li>           
            <li data-ng-click="$root.goFullscreen()">
                <a angular-ripple>
                    <i class="fa" data-ng-class="{'fa-expand':!$root.inFullScreen, 'fa-compress':$root.inFullScreen}"></i>
                </a>
            </li>            
        </ul>
        <div class="row col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <selectize class="selectSearch" placeholder='Search Keyword' options='keywords' config="keywordConfig" ng-model="key.keywordText" ng-disabled='disable'></selectize>
        </div>
        <div class="row col-sm-3 col-xs-3 col-lg-3 col-md-3" style="margin-top: 3px; padding-left: 2%;">
            <selectize class="selectSearch" placeholder='Search Association' options='associations' config="associationConfig" ng-model="associationText" ng-disabled='disable'></selectize>
        </div>
        <!-- end: Desktop,tablet navbar (hidden in Mobile)-->
        <span style="padding-left: 1%;">        
            <span ui-sref="app.search({keyword: key.keywordText, association: associationText})" data-ui-sref-opts="{reload: true}">
                <span class="add-icon" ><i class="fa fa-search fa-padding"> Search</i></span>
            </span>
        </span>
        <!-- start: Collapse items -->
        <ul ng-show="userName" class="nav navbar-nav navbar-right">
            <li uib-dropdown>
                <a class="userData dropdown-toggle" uib-dropdown-toggle angular-ripple>
                    <span class="hidden-phone">
                        {{userName}}
                        <i class="fa fa-angle-down"></i>
                    </span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu no-p no-m dropdown-alt">
                    <li class="m-b-5">
                        <a class="p-r-15 p-l-15" href="../admin/user/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- end: Collapse items -->

    </div>
    <!-- end: Collapse navbar -->
</div>
<!-- end: App header -->