/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Oct, 2016, 11:09:58 AM
    Author     : netphenix
*/
.col-sm-2{
    margin-bottom:-15px;
}
/*    .col-sm-9{
        margin-bottom:-15px;
    }*/
.col-sm-4{
    margin-bottom:-15px;
}
.col-sm-8{
    margin-bottom:-15px;
}
.wrapper-padding{
    padding-top:5px;
    padding-left: 5px;
    padding-right:5px;
    clear: both;
    position: relative
}
.row-padding{
    padding-right:25px;
    margin-bottom: 20px;
}
.pnl-aln{
    padding: 7px;
    margin-right:-25px;
}
.pnl-aln-table{
    margin-right:-25px;
}
.pnl-aln-tab-bo{
    padding: 0px
}
.pnl-space{
    margin-bottom: 6px;
}
.btn-space {
    margin-right:5px;
    margin-top:3px;
}
.btn-space:active {
    background: #228995
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.panel {
    margin-bottom: 20px;
}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
.panel {
    margin-bottom: 20px;
}
}
@media (max-width:768px) {
.panel {
    margin-bottom: 20px;
}
}
#chart svg{
    width: 650px;
    height: 202px;
    padding:5px;
}
#pieChart svg{
    width: 300px;
    height: 234px;
    padding:10px;
}
#pie {
    height:250px;
    paading:20px;
}
#pieUrl {
    height:250px;
    paading:20px;
}

#report svg {
    height:250px;
}

.conversion-head {
    margin-top: 6px !important;
    margin-bottom: 5px;
}

.conversion-table {
    margin-top:10px;
}

.bg-conv {
border-bottom: 1px solid #DDD;
background: rgba(90, 113, 122, 0.15) none repeat scroll 0% 0%;
border-right: 1px solid #DDD;
border-left: 1px solid #DDD;
margin-bottom: 8px;
border-top: 1px solid #DDD;
}