<style>
    #toolbox {
        font-family: Arial;
        font-size: 10pt;
        background: #F9FAFA;
        color: #555;        
        position: absolute;
        z-index: 9;
        overflow: auto;
    }
    #graph{
        width: 100%;
    }
</style>

<div class="section-header">
    <h1 class="h3 section-text">Co-Occurence Graph </h1>
</div>

<div class="wrapper" data-ng-controller="CoOccurenceGraphController">
    <div id="chartSelector" class="btn-group" style="position: absolute; z-index:9;">
        <input type="radio" value="network" id="networkOption" name="chartOption" checked="checked" /><label for="networkOption">network</label>
        <input type="radio" value="chord" id="chordOption" name="chartOption" /><label for="chordOption">chord</label>
        <button class="btn btn-info btn-sm" ng-click="showStatus = !showStatus">similar</button>
        <div id="toolbox" ng-show="showStatus">
            <div id="language_information" style="height: 550px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="graphHolder" style="height:800px;"></div>        
    </div>
</div>