<div class="section-header">
    <h1 class="h3 section-text">Trending Tweets And News</h1>
</div>

<div class="wrapper" data-ng-controller="TrendingTweetsController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading m-b-10">Trending News</div>
                <div class="panel-body no-p">
                    <div class="table-container">
                        <table class="table table-striped no-m">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="pull-left" style="cursor: pointer;"> Recent News</span>
                                        <span class="pull-right col-sm-8">
                                            <input ng-model="recentNews" placeholder="Search for Trending News" class="input-sm form-control" type="search"/>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="trendingNew in trendingNews| filter: recentNews| orderBy:['id', 't']:true | itemsPerPage: 10" pagination-id="trendingNews">
                                    <td>{{trendingNew}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="trendingNews"></dir-pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div data-ng-show="isLoading" class="loading-indicator"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading m-b-10">Trending Tweets</div>
                <div class="panel-body no-p">
                    <div class="table-container">
                        <table class="table table-striped no-m">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="pull-left" style="cursor: pointer;"> Recent Tweets</span>
                                        <span class="pull-right col-sm-8">
                                            <input ng-model="recentTweet" placeholder="Search for Recents Trending Tweets" class="input-sm form-control">
                                        </span>
                                    </th>
                                </tr>                                
                            </thead>
                            <tbody>
                                <tr dir-paginate="trendingTweet in trendingTweets | filter: recentTweet| orderBy:['id', 't']:true | itemsPerPage: 10  track by $index" pagination-id="trendingTweet">
                                    <td>{{trendingTweet}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="trendingTweet"></dir-pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div data-ng-show="isLoading" class="loading-indicator"></div>
                </div>
            </div>
        </div>
    </div>
</div>